/* header section */
.header_section {
 border-bottom: 1px solid grey;
}
.header_container {
 border-bottom: #ececec;
 display: flex;
 justify-content: space-around;
 width: 1200px;
 align-items: center;
 padding: 15px;
}
.header_link_style {
 text-decoration: none;
}
/* footer section */
.footer_section {
 color: #2196f3;
 font-family: 'Raleway';
 font-weight: 700;
 font-size: 26px;
 line-height: 31px;
 background: #2f303a;
}
.footer_address_paragraph {
 margin: 0;
}
.footer_address {
 color: #ffffff;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
}
.footer_email {
 color: #757575;
 text-decoration: none;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
}
.footer_number {
 color: #757575;
 text-decoration: none;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
}
