.header_border {
  border-bottom: 1px solid grey;
}
.main_title {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.header_line {
  border-bottom: #2196f3;
  display: flex;
  justify-content: space-around;
  width: 1200px;
  align-items: center;
  padding: 15px;
}
.subtitle:hover {
  color: #2196f3;
}
.subtitle {
  color: #212121;
  justify-content: flex-end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.link_style {
  text-decoration: none;
}
.subtitle {
  color: #212121;
  justify-content: flex-end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.header_button_5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.nav_button :hover {
  background-color: #2196f3;
  color: #f4f7fa;
  border-color: #2196f3;
}
.main_imagin {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}
.main_text_h3 {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.WebStudio {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  background: #2f303a;
}
.title_finish {
  color: #2196f3;
}
.social_net {
  align-content: end;
  display: flex;
  text-align: right;
}
