
.header_border {
  border-bottom: 1px solid grey;
}
.conteiner {
  border-bottom: #2196f3;
  display: flex;
  justify-content: space-around;
  width: 1200px;
  align-items: center;
  padding: 15px;
}
.container1{
  padding: 0 15%;
  max-width: 1200px;
  margin: 0 auto;
}
.link_style {
  text-decoration: none;
}
.main_title {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.subtitle {
  color: #212121;
  justify-content: flex-end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.subtitle:hover {
  color: #2196f3;
}
.button_push {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button_5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.section_page {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2f303a;
  margin: 0;
}
.push {
  color: #ffffff;
  width: 261px;
  height: 30px;
  background: #2196f3;
}
.section_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 2px;
  width: 1200px;
  height: 80px;
}
.title {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.what {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.imagin {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  padding: 50px;
 }
.our {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 16px;
  display: flex;
  justify-content: center;
}
.card-imagin {
  display: flex;
  align-items:center;
  justify-items: space-between;
  margin: auto;
  text-align:center;
  width: 270px;
  padding: 0px;
 }
.text_h3 {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.Christopher {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.text5 {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.kylie {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.text6 {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.ryan {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.text7 {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.tyler {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.text8 {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.WebStudio {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  background: #2f303a;
}
.address_paragraph {
  margin: 0;
}
.black {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.email {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.number {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.ubication {
  display: flex;
  align-content: flex-end;
  text-align:center;
}
